{% extends "encyclopedia/layout.html" %}
{% block title%}
Create New Page
{% endblock %}
{% block body %}
<form method="post">
    {% csrf_token %}
    <div class="form-group">
    {{form.title.as_field_group}}
    {% if invalid %}
    <div class="alert alert-danger">An entry with this title already exists!</div>
    {% endif %}
    </div>
    <div class="form-group">
    {{form.content.as_field_group}}
    </div>
    <input type="submit" class="btn btn-primary btn-block">
</form>
{% endblock %}